/*-- Global tags */

/* Header */
.header {
	display:			flex;
	justify-content:	center;
	text-align:			center;
	width:				100%;
}	
.header table {
	max-width: 			300px;
	border-radius:		20px;
	background-color:	rgb( 240, 240, 240 );
	font-size:			20px;
}

.header td {
	padding-left: 		20px;
	padding-right: 		20px;
	padding-bottom:		5px;
	padding-top:		5px;
}

.header td:hover {
	color: 				orange;
}

/* Content */
.content {	
	width:				100%;
	background-color: 	white;
	border:				none;
}