/*-- Global tags */

	/* Hyperlinks */
a {
	text-decoration: 	none;
	color:				black;
}
	/* Mouse over */
a:hover {
	color: 				orange;
}

body {
	background-color:	orange;
	height:				auto;
}

/*-- Configuration of nested frames */
.header_frame {
	height: 			auto; 
	width: 				100%;
	overflow:			hidden;
	border:				none;
	border-radius:		20px 20px 0px 0px;
}

.outer_frame {
	margin:				auto;
	display:			flex;
	flex-flow:			column;
	min-height:			auto;
	width:				80%;
}

.content_frame {	
	background-color: 	white;
	margin:				auto;
	display:			flex;
	flex-flow:			column;
	height:				auto;
	width:				100%;
	border-radius:		0px 0px 20px 20px;
}

.paragraph_format {
	width: 				80%;
	height:				100%;
	margin-left: 		auto;
	margin-right: 		auto;
	text-align:			justify;
	text-justify: 		inter-word;
	font-size:			105%;
}