.hyperlink {
	text-decoration: 	none;
	color:				black;
}

.hyperlink:hover {
	color: 			orange;
}

.header_iframe {
	border: 	none; 
	height: 	150px; 
	width: 		100%;
	overflow:	hidden;
}

.text_justify {
	text-align:		justify;
	text-justify: 	inter-word;
}

.main_page {
	width: 	70%;
}