---
layout: default
title: Projects
---

<div class="archive-group">
	<ul class="project-list">
		<div id="container_out">
		{% for post in site.projects %}
			<li>
				<div id="container_in">
					<div id="container_title">
    					<a href="{{ post.url | relative_url }}"> 
    						<h2>{{ post.title | escape }}</h2> 
    					</a>
    				</div>
    				{% if post.description %}
    					<span>{{ post.description }}</span>
    				{% endif %}	
				</div>
			</li>
		{% endfor %}
		</div>
	<ul>
</div>
