<style>
.forlast {
	margin-bottom: 0px !important;
}
</style>

<!-- post list -->
<div class="archive-group">
	{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

	<ul class="paginator-list">
		<div id="container_out">
		{% for post in site.categories[include.category] %}
		{% if forloop.last %}
			<li class="list_item forlast">
		{% else %}
			<li class="list_item">
		{% endif %}
				<div id="container_in">
    				<a class="title" href="{{ post.url | relative_url }}"> {{ post.title | escape }} </a>	
					
					<div id="date">
    					<span id="text">{{ post.date | date: date_format }}</span>
    					<i id="icon">
    						<img class="date_icon" src="{{ site.baseurl }}/assets/icons/page/calendar.svg"> 
    					</i>
    				</div>
				</div>
			</li>
		{% endfor %}
		</div>
	<ul>
</div>
