<!-- Pagination buttons -->
<div class="pagination">
	<!-- Previous button -->
	{% if paginator.previous_page %}
		<a class="button_link" href="{{ paginator.previous_page_path }}">
			&#9664;
		</a>
	{% else %}
		<span class="button"> &#9664; </span>	
	{% endif %}	
	
  	<!-- pages -->
	<span class="page_number">
		<p>{{ paginator.page }}/{{ paginator.total_pages }}</p>
	</span>
	
	<!-- Next button -->	
	{% if paginator.next_page %}
		<a class="button_link" href="{{ paginator.next_page_path }}">
			&#9654; 
		</a>
	{% else %}
		<span class="button"> &#9654; </span>
	{% endif %}	
</div>

<!-- Post list -->
{% include paginator-list.html src=paginator %}
