<div class="social-media-list">  
  {%- if site.email -%}
  	<a href="mailto:{{ site.email }}">
  		<img class="svg-icon" src="/assets/icons/gmail.svg">
  	</a>
  {%- endif -%} 

  {%- if site.github_username -%}
  	<a href="https://github.com/{{ site.github_username| cgi_escape | escape }}">
		<img class="svg-icon" src="/assets/icons/github.svg">
  	</a>
  {%- endif -%}
  
  {%- if site.youtube_username -%}
  	<a href="https://youtube.com/{{ site.youtube_username| cgi_escape | escape }}">
  		<img class="svg-icon" src="/assets/icons/youtube-red.svg">
  	</a>
  {%- endif -%}
  
  {%- if site.rcgroups_username_id -%}
  	<a href="https://www.rcgroups.com/forums/member.php?u={{ site.rcgroups_username_id| cgi_escape | escape }}">
  		<img class="svg-icon" src="/assets/icons/rcgroups.png">
  	</a>
  {%- endif -%} 
</div> 
