<!-- Collapsible list of sub-categories -->

<div class="project-container">
<ul class="project-list">
{% for post in site[include.parent] %}
{% if forloop.last %}
	<li class="list_out forlast">
{% else %}
	<li class="list_out">
{% endif %}
		<div class="container_list">
    		<!-- category -->
    		<a class="category" href="{{ post.url | relative_url }}"> {{ post.title }} </a>

			<!-- dropdown -->
    		<details>
    			<summary>
    				{% if post.description %}
    					<span>{{ post.description }}</span>
    				{% endif %}
    				<!-- buttons -->	
    				<span class="button_on">[show] &#9666;</span>
    				<span class="button_off">[hide] &#9662;</span>	
    			</summary>
				
				<div class="content">
    				{% include category-posts.html category=post.category %}
    			</div>
    		</details>			    				
		</div>
	</li>
{% endfor %}
</ul>
</div>
