.icon {
	display: inline;
	width: 32px;
	aspect-ratio: 1;
}

.page_icon {
	@extend .icon;
	padding-left: 5px;
}

.postlist_icon {
	@extend .page_icon;
	padding-left: 0px;
}

.date_icon {
	@extend .icon;
	width: 18px;
}
