.image-slider {
  	width: 100%;
  	margin-bottom: 16px;
  	  
  	div {
  		display: flex;
  		overflow-x: auto;
  		scroll-snap-type: x mandatory;
  		scroll-behavior: smooth;
  		-webkit-overflow-scrolling: touch;
			
  		div {
  			scroll-snap-align: start;
  			transform-origin: center center;
  			transform: scale(1);
  			flex-shrink: 0;
  			
  			display: flex;
  			flex-direction: column;
  			justify-content:space-between;
  			
  			width: 100%;
  			aspect-ratio: 3/2;
  			
  			img {
  				object-fit: cover;
  				width: 100%;
  				height: 100%;
			}
			span {
				position: absolute;
				padding-left: 5px;
				padding-right: 5px;
				margin-left: 5px;
				margin-top: 5px;
				border-radius: 10px;
				background: grey;
				text-align: center;
				color: white;
			}
  		}
	}
}
