// Post list
.paginator-list {
  display: flex;
  justify-content: center;
  
  #container_out {
  	width: 100%;
  }
  
  #container_in {
	display: flex;
	flex-direction: row;
	justify-content: space-between; 
  }
  
  #list_in {
  	display: flex;
  	flex-direction: column;
  }
  
  li {
  	margin-bottom: 10px;
  	margin-left: 10px;
  }
  
  #categories {
  	color: $grey-color-dark;
  }
  
  #date {
	color: gray;
	text-align: right;
	font-size: 14px;
	width: 150px;
  }  
}


@media (max-width: $on-laptop) {
	.paginator-list {
		justify-content: left;
		#container_out {
			width: 100%;
		}
		#container_in {
			flex-direction: column;
		}
		#date {
			text-align: left;
		}
	}
}

// Page selection
.pagination {
  display: flex;
  justify-content: center;
  align-items:center;
  
  .box {
  	padding: 6px;  	
  	height: 20px;
  	line-height: 20px;
  }
  
  .button {
  	@extend .box;
  	font-size: 24px;
  	border-radius: 5px;
  }

  .button_link {
  	@extend .box;
  	font-size: 24px;
  	border-radius: 5px;
  }
  
  .button_link:hover {
  	background: #b3d1ff;
  	text-decoration: none;
  }
     
  .page_number {
  	@extend .box;
  	border-left: none;
  	border-right: none;
  	color: gray;
  }
}

// Other options
.pagination_options {
	display: flex;
	flex-direction: row;
	justify-content: center;
	
	h3 {
		text-align: center; 
		color: $grey-color-dark;
		margin-left: 10px;
		margin-right: 10px;
	}
}
