// Post list
.paginator-list {
  display: flex;
  justify-content: center;
  list-style: none;
  
  .title {
  	color: $post-color;
  }
  
  #container_out {
  	width: 100%;
  }
  
  #container_in {
	display: flex;
	flex-direction: row;
	justify-content: space-between; 
  }
  
  #list_in {
  	display: flex;
  	flex-direction: column;
  }
   
  .list_item {
  	font-size: 24px;
  	margin-bottom: 25px;
  	padding-bottom: 8px;
  	border-bottom: 1px dotted LightGrey;
  }
  
  .forlast {
  	border-bottom: none !important;
  	margin-bottom: none !important;
  	padding-bottom: none !important;
  }
  
  #categories {
  	font-size: 14px;
  	width: auto;
  	
  	.text {
  		background: PaleGoldenRod;
  		padding: 1px 5px 1px 5px;
  		border-radius: 8px;	
  	}
  }
  
  #date {
  	min-width: 120px;
	text-align: right;
  	
  	#text {
		font-size: 14px;
	}
	#icon {
		padding-left: 5px;
	}
  }
}


@media (max-width: $on-laptop) {
	.paginator-list {
		justify-content: left;
		
		#container_out {
			width: 100%;
		}
		
		#container_in {
			flex-direction: column;
		}
		
		#date {
			text-align: left;
			min-width: auto;			
			
			#icon {
				float: left;	
			}
			#text {
				vertical-align: middle;
				margin-left: 5px;
			}
		}
	}
}

// Page selection
.pagination {
  display: flex;
  justify-content: center;
  align-items:center;
  
  .box {
  	padding: 6px;  	
  	height: 20px;
  	line-height: 20px;
  }
  
  .button {
  	@extend .box;
  	font-size: 24px;
  	border-radius: 5px;
  }

  .button_link {
  	@extend .box;
  	font-size: 24px;
  	border-radius: 5px;
  }
  
  .button_link:hover {
  	background: #b3d1ff;
  	text-decoration: none;
  	color: blue;
  }
  
  .button_null {
  	@extend .button;
  	color: $grey-color-light;
  }
     
  .page_number {
  	@extend .box;
  	border-left: none;
  	border-right: none;
  	color: gray;
  }
}

// Other options
.pagination_options {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 10px;
	
	h3 {
		text-align: center; 
		color: $grey-color-dark;
		margin-left: 10px;
		margin-right: 10px;
	}
}
