.project-container {
	display: flex;
	justify-content: center;
}

.project-list {
  	list-style: none;
  	width: 100%;
  	
  	// remove padding from ul
  	margin-left: 0px !important;
	margin-right: 0px !important;
	margin-bottom: 0px !important;

	.category {
		font-size: 40px;
		color: $post-color;
	}
	
	.supra_category {
		font-size: 22px;
		color: gray;
		text-align: left;
	}
	
	.category_icon {
		font-size: 12px;
		weight: none !important;
		vertical-align: middle;
		color: blue;
	}
	
	.list_category {
		padding-bottom: 20px;
	}
	
	summary {
		list-style: none; // hide arrow
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		outline:none;
	}
		// hide arrow
	summary::-webkit-details-marker {
  		display:none;
	}
	
	.button {
		padding-left: 10px;
		min-width: 60px;
	}
	
	// button state
	details {
		.button_on {
			@extend .button;
			color: CornflowerBlue;
			display: block;
		}
		.button_off {
			@extend .button;
			display: none;
		}		
	}
		
	details[open] {
		.button_on {
			display: none;
		}
		.button_off {
			color: Salmon;
			display: block;
		}
	}
	
	.list_out {
		padding-bottom: 8px;
		margin-bottom: 6px;
		margin-right: 10px;
		margin-left: 12px;
		//border-bottom: 1px solid LightGray;
		border-bottom: none;
	}
	
	.forlast {
		border-bottom: none !important;
	}
	
	.content {
		padding-top: 16px;
		padding-left: 12px;
	}
}

