.project-container {
	display: flex;
	justify-content: center;
}

.project-list {
  	list-style: none;
  	width: 100%;		

	.category {
		font-size: 40px;
		color: $post-color;
	}
	
	summary {
		list-style: none; // hide arrow
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		outline:none;
	}
		// hide arrow
	summary::-webkit-details-marker {
  		display:none;
	}
	
	.button {
		padding-left: 10px;
		min-width: 60px;
	}
	
	// button state
	details {
		.button_on {
			@extend .button;
			color: CornflowerBlue;
			display: block;
		}
		.button_off {
			@extend .button;
			display: none;
		}		
	}
		
	details[open] {
		.button_on {
			display: none;
		}
		.button_off {
			color: Salmon;
			display: block;
		}
	}
	
	.list_out {
		padding-bottom: 20px;
		margin-bottom: 25px;
		margin-right: 10px;
		border-bottom: 1px solid LightGray;
	}
	
	.forlast {
		border-bottom: none !important;
	}
	
	.content {
		padding-top: 15px;
		padding-left: 10px;
	}
}

.class-header {
	padding-bottom: 15px;
}
