#lunrsearchresults {
	padding-top: 0.2rem;
	margin-left: 10px;

	ul {
		list-style-type: none;
	}
	
	.forlast {
		border-bottom: none !important;
	}
	
	.list-item {	
		padding-bottom: 5px;
		margin-bottom: 25px;
		border-bottom: 1px dotted LightGray;
		
		// inner tags
		.title {
			font-size: 24px;
			color: $post-color;
		}
			
		a {
			display: block; 
			color: #777;
		}
		a:hover, a:focus {
			text-decoration: none;
		}
		a:hover {
			.title {text-decoration: underline;}
		}
	}
}

.lunr-form-control {
	display: flex;
 	justify-content: center;
 	width: 100%;
 	 		
 	input {
 		width: 95%;
 		height: 32px;
 		font-size: 18px;
 		border: 2px solid LightGray;
 		border-radius: 15px;
 		padding: 8px;
 		padding-left: 20px;
 		padding-right: 20px;
 	}
 	
 	input:focus {
 		outline:none;
 		box-shadow: 0px 0px 4px 1px LightGray;
 	}
}

.lunr-result-indicator {
	font-size: 18px;
	padding-top: 15px;
	color: FireBrick;
}
