.youtube {
	position: relative;
	padding-bottom: MIN(56.25%, $max-image-size * 0.5625); // force use of raw CSS
  	margin-bottom: 16px;	
		
	iframe {
		border: 0;
		
		// position
		position: absolute;
		top: 0; 		
  		left: 50%;
  		transform: translateX(-50%);
		
		// sizing
		width: 100%;
		height: 100%;
  		max-width: $max-image-size;	
  		max-height: $max-image-size * 0.5625;
	}
}
